@font-face {
  font-family: 'kyivtype';
  src: url("Assets/fonts/Dmitry\ Rastvortsev\ -\ KyivType\ Sans\ Light-.woff2") format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
.textHeading ,.wood ,.work , .advantages , .aboutHeading , .questionHeading{
  font-family: 'kyivtype';
}
p {
  font-family: sans-serif;
}
a {
  font-family: sans-serif;
}
.main{
    width: 100%;
    background-color: #222021;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px 50px 50px;
}
.checkbox , #menu-toggle{
    display: none;
}
.menu-icon {
    display: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}
.navbar{
    width: 50%;
}
.navbar ul{
    color: white;
    display: flex;
    list-style: none;
    gap: 57px;
    font-size: 20px;
}
.headerMain{
    background-image: url(Assets/bg.png);
    height: 1080px;
    background-repeat: no-repeat;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
}
.navbar ul li a:hover{
    color: orange;
    text-decoration: underline;
    transform: scale(0.5);
}
.heromain {
    width: 100%;
    display: flex;
    justify-content: right;
}
.heromain .heroSection{
    width: 70%;
    background-color:#1e0c06;
    display: flex;
    border-radius: 30px;
    padding: 75px 50px 75px 50px;
}
.heroSection .heroTextbox{
    width: 45%;
    padding-right: 50px;
}
.heroTextbox .textHeading {
    font-size: 80px;
    color: white;
    text-transform: uppercase;
}
.heroTextbox p{
    font-size: 30px;
    color: white;
    font-weight: 400;
    padding-bottom: 30px;
}
.heroTextbox button{
    border-radius: 30px ;
    font-size: 18px;
    background-color: #7891AF;
    padding: 15px 60px 15px 60px;
}
.heroTextbox button:hover{
    background-color: #3f83e4;
    cursor: pointer;
}
.line {
    height: 511px;
    border: 1px solid #F5F5F5;
}
.heroSection .images{
    width: 35%;
    padding-left: 50px;
    gap: 15px;
}
.images .image1{
    width: 100%;
    display: flex;
    justify-items: end;
}
.images .image2{
    width: 100%;
    justify-content: start;
    display: flex;
}
.images .image3{
    width: 100%;
    justify-content: center;
    display: flex;
}
.Cards{
    width: 100%;
    padding-bottom: 80px;
}
.cardHeading{
    width: 100%;
    font-size: 90px;
    display: flex;
    justify-content: center;
    color: white;
}
.cardHeading p{
    width: 70%;
    margin: 0%;
}
.CardsSection{
    padding-top: 80px;
    display: flex;
    justify-content: space-evenly;
}
.CardsSection h2{
    width: 70%;
    text-align: center;
    color: white;
}
.card1iconimage ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 30px;
    color: white;
    padding: 0%;
}
.card1iconimage ul li {
    list-style: none;
    display: flex;
    gap: 5px;
}
.card1iconimage ul li I{
    color: #FFC099;
}
.workHeading{
    width: 100%;
    color: white;
    font-size: 90px;
    height: 100px;
    padding-bottom: 50px;
}
.workHeading p{
    width: 55%;
    margin: 0%;
    text-align: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.carousel {
  width: 90%;
  max-width: 1000px;
}
.single-item {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.advantagesHeading{
    width: 80%;
    display: flex;
    justify-content: center;
    color: white;
    color: white;
    font-size: 60px;
    padding-top: 70px;
}
.advantagesHeading p {
    width: 65%;
    text-transform: uppercase;
}
.advantagesMain{
    width: 100%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding-bottom: 50px;
}
.advantagesPara{
    width: 33%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}
.para1{
    width: 70%;
    color: white;
}
.para2{
    width: 70%;
    color: white;
}
.para3{
    width: 70%;
    color: white;
    
}
.advantagesBTN{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
.BTN button{
    padding: 10px 40px 10px 40px;
    border: none;
    border-radius: 42px;
    background-color: #728bad;
    font-weight: 700px;
    color: white;
    font-size: 25px;

}
.BTN button:hover{
    background-color: #3f83e4;
    cursor: pointer;
}
.aboutusMain{
    width: 90%;
    display: flex;
    background-color:#1e0c06;
    border-top-right-radius:50px ;
    border-bottom-right-radius:50px ;
    gap: 60px;
    padding: 50px 0px 50px 0px;
}
.aboutText{
    width: 68%;
    display: flex;
    align-items: end;
    gap: 50px;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.aboutHeading{
    width: 60%;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 60px;
}
.aboutPara{
    width: 50%;
    font-size: 25px;
}
.aboutImages{
width: 50%;
}
.image1{
    height: 150px;
    width: 70%;
    position: relative;
    display: flex;
    justify-content: end;
}
.image1 img {
    height: 180px;
    width: 180px;
    border-radius: 50px;
}
.image2{
    height: 280px;
    width: 100%;
    position: relative;
    bottom: 60px;
}
.aboutImages .image2 img{
    height: 250px;
    width: 260px;
    border: 10px solid black;
    border-radius: 50px;
}
.image3{
    justify-content: end;
    display: flex;
    height: 180px;
    width: 50%;
    position: relative;
    left: 50px;
    bottom: 40px;
}
.image3 img {
    height: 180px;
    width: 180px;
    border-radius: 50px;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
}

.questionHeading {
    padding-top: 70px;
    color: white;
    width: 85%;
    font-size: 50px;
    text-align: end;
    text-transform: uppercase;
}

.questionMain {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.Questionform {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

input,
textarea {
  border: 1px solid white;
  background-color: #222021;
  color: white;
  font-size: 18px;
  margin-top: 20px;
  border-radius: 40px;
  height: 50px;
  width: 100%;
  max-width: 450px;
  padding: 0 20px;
}

textarea {
  height: 150px;
  resize: none;
  padding: 15px 20px;
}

.questionButton {
    width: 100%;
    max-width: 450px;
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
}

.questionButton button {
  border-radius: 30px;
  height: 40px;
  width: 120px;
  background-color: #728bad;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.questionButton button:hover{
    background-color: #3f83e4;
    cursor: pointer;
}

.questionText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.qpara {
  font-size: 22px;
  text-align: center;
  max-width: 400px;
  margin-bottom: 20px;
}

.qimage img {
   transform: rotate(320deg);
  width: 100%;
  max-width: 450px;
  height: auto;
  margin-bottom: -80px;
  z-index: 0;
  position: relative;
}
.footerMain {
  height: 150px;
  width: 100%;
  background-color: #222021;
  display: flex;
  color: white;
  align-items: center;
  z-index: 1;
  position: relative;
  justify-content: space-around;
  font-size: 20px;
  flex-wrap: wrap;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 -8px 20px rgba(255, 255, 255, 0.2);
}

.footerlogo img {
  height: 60px;
}